:root {
  --primary: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --card-background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    hsl(215, 20%, 17%) 0%,
    hsl(216, 24%, 12%) 100%
  );
}

body {
  background-color: var(--very-dark-blue);
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.card {
  background: var(--card-background);
  border-radius: 1em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.icon {
  background-color: var(--dark-blue);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.icon img {
  height: 50%;
}

.card .title {
  color: var(--white);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.card p {
  color: var(--medium-grey);
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-size: 0.9rem;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.rating-item {
  background-color: var(--dark-blue);
  color: var(--light-grey);
  border: none;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
}

.rating-item__selected {
  background-color: var(--primary);
  color: var(--white);
}

.button-submit {
  width: 100%;
  border: none;
  border-radius: 1.5em;
  height: 3em;
  background-color: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.thanks-img {
  text-align: center;
  margin-bottom: 1.5em;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-text {
  background-color: var(--dark-blue);
  color: var(--primary);
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
  width: 180px;
  margin-bottom: 1.5em;
}

.thanks-text {
  color: var(--white);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

#thanks-card p {
  text-align: center;
}

.deactive {
  display: none;
}

/* Attibution */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--medium-grey);
  margin-top: 1em;
}
.attribution a {
  color: var(--light-grey);
}
